@import "../../styles/global.scss";

.res-modal{
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: justify;
}

.res-modal .bx--label{
  margin-top: 1rem;
}

.bx--modal-container{
  width: 70%;
}
