@import "../../styles/global.scss";

.bg-white {
  padding: 1rem;
  background-color: $ui-02;
}

.data-row {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.mid-row {
  border-bottom: 1px $ui-01 solid;
  padding-bottom: 0.5rem;
}

.empty-instance-message {
  padding: 1rem;
}
