// Global variables for SCSS
$prefix: 'bx';
$color-white: #fff;
$color-blue: #0f62fe;
$spacing-0_9: 0.9rem;
$spacing-1_2: 1.2rem;
$spacing-0_4: 0.4rem;
$spacing-0_5: 0.5rem;
$spacing-0_1: 0.1rem;
$spacing-1_1: 1.1rem;
